.header {
  background-color: red;
  height: 13vh;
}

.logo-home {
  width: 14vw;
  margin-left: 30px;
}

.image-pokedex {
  width: 7vw;
  margin-left: 50px;
}

.image-pikachu {
  width: 7vw;
  margin-left: 50px;
}

.header-titre {
  position: absolute;
  left: 35rem;
  top: 1.5rem;
}

.navbar {
  position: absolute;
  left: 65rem;
  bottom: 4rem;
}

.button-next{
  position: absolute;
  width: 10vw;
  left: 60%;
}

.button-previous{
  position: absolute;
  width: 10vw;
  right: 60%;
}

