.logo-login {
  height: 20rem;

  transform: translateY(25rem);
  margin-left: 6rem;
}

.login-container {
  background-color: white;
  height: 26rem;
  width: 35rem;
  float: right;
  margin-right: 15rem;
  margin-top: 25rem;
  border-radius: 2rem;
}

.form-login {
  text-align: center;
  margin-top: -30%;
}

.login {
  margin-top: 50%;
}

.login-title {
  text-align: center;
  transform: translateY(5rem);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.form-fields {
  text-align: center;
}

.test {
  margin-top: 5%;
  width: 20rem;
  border: 1px solid black;
  margin-left: 7rem;
}
