.modal-private-room{
    background-image: url("../assets/poke-battle.jpg");
}

.Join-private-game{
    position: absolute;
    top: 45%;
    left: 40%;
}

.button-join-private{
    position: absolute;
    top: 105%;
    right: 3%;
}

.button-close-private{
    position: relative;
    right: 90%;
}

.modal-private-title{
    position: relative;
    left: 33%;
}

.background-modal-create{
    background-image: url("../assets/poke-battle.jpg");
}

.roomName{
    position: relative;
    left: 45%;
}

.private-button{
    position: absolute;
    top: 107%;
    left: 42%;
}

.create-game{
    position: absolute;
    top: 105%;
    left: 82%;
}

.create-game-close{
    position: relative;
    right:  90%;
}