.background-pokedex {
  width: 80vw;
  height: 75vh;
  position: absolute;
  left: 12%;
  top: 20%;
  border-radius: 5%;
  background-image: url("../assets/background-pokedex.jpg");
  background-position-y: 50% ;
  background-position-x: 50% ;
  background-size: 100%;
}

.titre-pokedex {
  position: absolute;
  left: 47.4%;
  top: 3.5%;
  font-size: xx-large;
  font-weight: bold;
}

.pokeball-1-pokedex {
  width: 2vw;
  position: absolute;
  left: 45%;
  top: 5%;
}

.pokeball-2-pokedex {
  width: 2vw;
  position: absolute;
  right: 34%;
  top: 5%;
}

.upper-screen {
  width: 30vw;
  height: 30vh;
  position: absolute;
  left: 38%;
  top: 5%;
  background-color: #c00d0e;
  box-shadow: -9px 5px 1px #600405;
}

.upper-screen-content-top {
  width: 12.5vw;
  height: 12vh;
  background-color: #870707;
  position: absolute;
  right: 36.2%;
  top: 8%;
  border-top-left-radius: 10rem;
  border-top-right-radius: 10rem;
}

.upper-screen-content-bottom {
  width: 12.5vw;
  height: 12vh;
  background-color: #870707;
  position: absolute;
  right: 36.2%;
  top: 26%;
  border-bottom-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
}

.upper-screen-content-big-middle-circle {
  height: 20%;
  width: 10%;
  border-radius: 50%;
  position: absolute;
  top: 15%;
  left: 51.105%;
  z-index: 1;
  background-color: #c00d0e;
}

.upper-screen-content-little-middle-circle {
  height: 12%;
  width: 5.5%;
  border-radius: 50%;
  position: absolute;
  top: 19%;
  left: 53.3%;
  z-index: 1;
  border: 8px solid #870707;
  background-color: #51ae60;
}

.between-screen {
  width: 51%;
  height: 8%;
  position: absolute;
  top: 45%;
  right: 24.5%;
  background-color: #bd0b0d;
  border-end-end-radius: 5px;
  box-shadow: -10px 8px 0px #600405;
}

.between-screen-top-shadow {
  width: 51%;
  height: 1%;
  position: absolute;
  top: 44%;
  right: 24.5%;
  border-radius: 5px;
  box-shadow: 0px 11px 10px #000000;
  z-index: 1;
}

.between-screen-bottom-shadow {
  width: 51%;
  height: 1%;
  position: absolute;
  top: 50%;
  right: 24.5%;
  border-radius: 5px;
  box-shadow: 0px 13px 10px #000000;
  z-index: 1;
}

.between-screen-left-square {
  width: 3vw;
  height: 6vh;
  position: absolute;
  top: 45%;
  left: 24.5%;
  background-color: #870707;
}

.between-screen-middle-square {
  width: 3vw;
  height: 6vh;
  position: absolute;
  top: 45%;
  left: 40%;
  background-color: #870707;
}

.between-screen-right-square {
  width: 3vw;
  height: 6vh;
  position: absolute;
  top: 45%;
  right: 26%;
  background-color: #870707;
  border: 2px solid #600405;
}

.bottom-part {
  width: 30.2vw;
  height: 30vh;
  position: absolute;
  top: 52.5%;
  right: 24.5%;
  background-color: #c00d0e;
  box-shadow: -11px 7px 0px #600405;
}

.bottom-part-background {
  width: 25vw;
  height: 26.5vh;
  background-color: #424242;
  position: absolute;
  top: 56%;
  right: 28%;
  border-radius: 10px;
}

.bottom-part-screen {
  width: 23vw;
  height: 23vh;
  background-color: #70e2f7;
  position: absolute;
  top: 58.5%;
  right: 29.3%;
  border-radius: 10px;
  border: 5px solid #b0b0b0;
}

.ligne-separation-1{
  width: 12vw;
  height: 0.3vh;
  position: absolute;
  right: 1%;
  top: 11%;
  background-color: white;
}

.ligne-separation-2{
  width: 12vw;
  height: 0.3vh;
  position: absolute;
  right: 1%;
  top: 31%;
  background-color: white;
}

.ligne-separation-3{
  width: 12vw;
  height: 0.3vh;
  position: absolute;
  right: 1%;
  top: 51%;
  background-color: white;
}

.ligne-separation-4{
  width: 12vw;
  height: 0.3vh;
  position: absolute;
  right: 1%;
  top: 71%;
  background-color: white;
}

.ligne-separation-5{
  width: 12vw;
  height: 0.3vh;
  position: absolute;
  right: 1%;
  top: 91%;
  background-color: white;
}

.bottom-left-part {
  width: 10.6vw;
  height: 29.6vh;
  border-bottom-left-radius: 2rem;
  position: absolute;
  top: 53%;
  left: 24.5%;
  background-color: #870707;
  border: 2px solid #600405;
  box-shadow: -10px 7px 1px #600405;
}

.bottom-left-blue-button {
  height: 8%;
  width: 4%;
  border-radius: 50%;
  position: absolute;
  top: 80%;
  left: 29%;
  z-index: 1;
  border: 8px solid #70e2f7;
  background-color: #70e2f7;
  box-shadow: 0px 0px 10px #000000;
}

.bottom-left-blue-button-light {
  width: 2vw;
  height: 2vh;
  position: absolute;
  top: 81%;
  left: 29.7%;
  z-index: 1;
  border-radius: 30%;
  background-color: #9ff0fa;
}

.bottom-right-part {
  width: 7vw;
  height: 15vh;
  background-color: #870707;
  position: absolute;
  right: 15.8%;
  bottom: 7.5%;
  border-top-right-radius: 80%;
  border-bottom-right-radius: 80%;
  box-shadow: -11px 7px 0px #600405;
}

.bottom-right-background {
  width: 6vw;
  height: 10vh;
  background-color: #424242;
  position: absolute;
  right: 17.1%;
  bottom: 10.5%;
  border-top-right-radius: 80%;
  border-bottom-right-radius: 80%;
}

.arrow-next {
  width: 42%;
  right: 10%;
  position: absolute;
  top: -1%;
  cursor: pointer;
 }

.arrow-left {
  width: 42%;
  left: 6%;
  position: absolute;
  top: -1%;
  cursor: pointer ;
 }

.pokebag {
  position: absolute;
  top: 20%;
  left: 25%;
  width: 5vw;
  cursor: pointer;
}

.imagePokemonInPokedex {
  width: 8.5vw;
  position: absolute;
  top: 27%;
  left: 1%;
}

.pokemon-name-pokedex{
  color: white;
  font-weight: bold;
  font-size: large;
  position: absolute;
  left: 9%;
  top: 2%;
}

.pokemon-type-1-pokedex{
  color: black;
  border-radius: 5px;
  display:inline;
  position: absolute;
  left: 48%;
  top: 35%;
  font-size: small;
}

.pokemon-type-2-pokedex{
  color: black;
  border-radius: 5px;
  display:inline;
  position: absolute;
  top: 34%;
  right: 20%;
  font-size: small;
}

.pokemon-solo-type-pokedex{
  color: black;
  border-radius: 5px;
  position: absolute;
  left: 48%;
  top: 35% ;
  font-size: small;
}

.pokemon-capacity-pokedex{
  position: absolute;
  top: 14%;
  left: 48%;
  font-size: small;
}

.pokemon-secret-capacity-pokedex{
  position: absolute;
  top: 55% ;
  left: 48%;
  font-size: small;
}

.pokemon-id-pokedex{
  color: white;
  font-size: medium;
  position: absolute;
  top: 17%;
  left: 10%;
}

.pokemon-height-pokedex{
  position: absolute;
  left: 48%;
  top: 75%;
  font-size: small;
}

.pokemon-width-pokedex{
  position: absolute;
  left: 72%;
  top: 75%;
  font-size: small;
}
