.pokedollar{
    position: absolute;
    top: 86%;
    left: 41%;
    width: 8vw;
}

.pokedollar-number{
    position: absolute;
    bottom: 2%;
    right: 38%;
}

.modal-title{
    font-size: large;
    position: relative;
    left: 35%;
}

.modal-body{
    height: 40vh;
}

.button-buy{
    position: absolute;
    top: 105%;
}

.obtain-pokemon{
    position: absolute;
    width: 12vw;
    top: 10%;
    left: 42%;
}

.obtain-pokemon-description{
    position: absolute;
    font-size: large;
    top: 80%;
    left: 40%;
}